body {
    background: rgb(159,194,255);
    background: linear-gradient(90deg, rgba(159,194,255,1) 0%, rgba(131,206,255,1) 52%, rgba(132,234,255,1) 100%);
    font-family: 'Actor';
    font-size: 22px;
}

.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 450px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.signin {
    padding-top: 10px;
    color: #4c4c4c;
    font-family: 'Actor';
    font-weight: bold;
    font-size: 23px;
}
.newuser {
    padding-top: 20px;
    text-align: center;
    color: #7a7a7a;
    font-family: 'Actor';
    font-weight: bold;
    font-size: 15px;
}

.username {
    font-family: 'Actor';
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-left: 46px;
    text-align: center;
    margin-bottom: 20px;
}

form.form1 {
    padding-top: 15px;
}

.password {
    font-family: 'Actor';
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 30px;
}

.vendorid {
    font-family: 'Actor';
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 30px;
}

.attendeeid {
    font-family: 'Actor';
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 30px;
}

.adminid {
    font-family: 'Actor';
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 30px;
}

.welcome{
    padding-top: 40px;
    color: #646464;
    font-family: 'Actor';
    font-weight: bold;
    font-size: 15px;
}

.signinbutton {
    font-family: 'Actor';
    text-align: center;
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: #77ddef;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.register {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #95b5ff;
    font-size: 15px;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #96beff;
    text-decoration: none
}

.media {
    max-width: 600px
}

.main{
    border-radius: 0px;
}