body {
    background: rgb(159,194,255);
    background: linear-gradient(90deg, rgba(159,194,255,1) 0%, rgba(131,206,255,1) 52%, rgba(132,234,255,1) 100%);
    font-family: 'Actor';
    font-size: 22px;
}

.main {
    border-radius: 10px;
    background-color: #FFFFFF;
    width: 400px;
    height: 300px;
    margin: 7em auto;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.signin {
    padding-top: 10px;
    color: #4c4c4c;
    font-family: 'Actor';
    font-weight: bold;
    font-size: 23px;
}

form.form1 {
    border-radius: 20px;
    padding-left:60px;
    padding-top: 20px;
    padding-bottom: 40px;
    color: #646464;
    font-family: 'Actor';
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    
}

.welcome{
    padding-top: 40px;
    color: #646464;
    font-family: 'Actor';
    font-weight: bold;
    font-size: 15px;
}

.signinbutton {
    font-family: 'Actor';
    text-align: center;
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: #77ddef;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #96beff;
    text-decoration: none
}

.media {
    max-width: 600px
}